@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

.collection-item{
  width: 100%;
}

#toast-container{
  top:30px !important;
  right: 20px!important;
  left : auto !important;
}
.material-icons:hover{
  cursor: pointer;
}

/**/
.bg-body{
  font-family: 'open Sans ',sans-serif;
  /* color:white; */
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(Mhealth.jpg);
background-size: 170%;
background-position-y: bottom;
background-position-x: center;

}
.title{
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.logo-holder{
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.logo{
  width: 100px;
  height: 100px;
  border: solid white 2px;
  border-radius: 70%;
  display: grid;
  place-items: center; 
  font-size: 5rem;
}
 
  .ip{
    background-color: rgba(208, 201, 221, 0.275);
   font-size: 30px;
    border: none;
    color:black;
    padding: 0.5rem;
    display:block;
    width:100%;
    margin-top: 0.rem;
    border-radius:5px;
  }
  .ip::placeholder{
   
    color:rgb(0, 0, 0);
  }

  
 /* menu */
 .container{
  width: 80%;
  padding: 20px;
  margin: 50px auto;	 
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.box{
  width: 200px;
  margin: 0 50px;
  box-shadow: 0 0 20px 2px rgb(252, 191, 226);
  transition: 1s;

}
.box img{
  display: block;
  width:100%;
  border-radius: 5px;
}
.box:hover{
  transform: scale(1.3);
  z-index: 2;
}
.txt{
  text-align: center;
}

/*  health */
/* .health{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(bg.jpg);
} */
.log-tag{
  
 text-align: center;
}
/* .user-doc{

  text-align: right;
  margin-right: 0%;
} */
.size{
  
  height: 520px;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  color: #fff;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  color: #fff;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

.box1{
  width: 300px;
  height: 410px;
  margin: 0 50px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;
}
.box1 img{
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 5px;
}
.box1:hover{
  transform: scale(1.3);
  z-index: 2;
}

.add {
  background-color: #711928;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.add h2 {
  font-size: 35px;
    color: rgba(255,255,255,0.5);
    line-height: 35px;
    text-align: left;
    font-family: Roboto Condensed;
    font-weight: 700;
    font-style: normal;
    padding-left: 50px;
}

.add p {
  font-size: 60px;
  color: #ffffff;
  line-height: 80px;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: normal;
  padding-left: 50px;
}

.add img {
  width: 650px;
  height: 281px;
  padding-left: 300px;
}

.add1 {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 0px;
  justify-content: center;
  color: #625a54;
}

.add1 h4 {
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  font-family: Open Sans Condensed;
  font-weight: 700;
  font-style: normal;
}

.add1 h5 {
  font-size: 34px;
  line-height: 44px;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
}

.add2 {
  background-color: rgba(2,2,2,0.49);
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 0px;
  justify-content: center;
  color: white;
}

.btn {
  background-color: rgba(2,2,2,0.49);
  color: white;
  border: 2px solid #e7e7e7;
}
.btn:hover {background-color: #e7e7e7;}


.bs1{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.pa{
  margin: 5px !important;
  padding: 0px;
}

.content{
  min-height: 90vh;  
}
.carimg{
  height: 165px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}